footer a {
    float: right;
}

body {
    background: #eee
}

.dates {
    font-size: 11px
}

.names {
    color: #007bff
}

.titles {
    font-size: 26px
}

.cursor:hover {
    color: #007bff
}

.cursor {
    cursor: pointer
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');


@media (max-height: 600px) {

    footer {
        display: none;
    }

    main {
        flex: 1 100vh;
    }
}